.version.home /* version checker */
{
	color: #0000FA;
	background-color: #7E08BE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 622px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	min-height: 224px;
	padding-bottom: 72px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u76
{
	z-index: 3;
	width: 106px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 186px;
	padding: 11px 68px 17.599188405797122px 15px;
}

#u76:hover
{
	width: 106px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u76.MuseLinkActive
{
	width: 106px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u84-4
{
	z-index: 11;
	width: 104px;
	min-height: 81px;
	margin-left: 2px;
}

#u96
{
	z-index: 45;
	margin-top: 24px;
}

#pu80
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 383px;
}

#u80
{
	z-index: 7;
	width: 50px;
	padding: 3px 54px 9.412405797101655px 6px;
}

#u80:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u80.MuseLinkActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u85-4
{
	z-index: 15;
	width: 49px;
	min-height: 31px;
}

#u92
{
	z-index: 43;
	margin-top: 14px;
}

#u82
{
	z-index: 9;
	width: 110px;
	padding-bottom: 1px;
	margin-top: 6px;
}

#u82_position_content
{
	margin-top: -1px;
	padding-bottom: 10px;
}

#u86-4
{
	z-index: 19;
	width: 64px;
	min-height: 33px;
	margin-left: 9px;
}

#u98
{
	z-index: 46;
	margin-left: 6px;
	margin-top: 7px;
}

#u78
{
	z-index: 5;
	width: 122px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 502px;
	padding: 11px 60px 9.547362318840669px 7px;
}

#u78:hover
{
	width: 122px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u87-4
{
	z-index: 23;
	width: 114px;
	min-height: 58px;
	margin-left: 8px;
}

#u94
{
	z-index: 44;
	margin-top: 70px;
}

#u77
{
	z-index: 4;
	width: 123px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 699px;
	padding: 8px 56px 12.540069965017494px 10px;
}

#u77:hover
{
	width: 123px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u88-4
{
	z-index: 27;
	width: 114px;
	min-height: 58px;
	margin-left: 9px;
}

#u100
{
	z-index: 47;
	margin-top: 73px;
}

#pu81
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 896px;
}

#u81
{
	z-index: 8;
	width: 110px;
	padding-bottom: 35px;
}

#u81:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px;
}

#u89-4
{
	z-index: 31;
	width: 114px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 6px;
}

#u83
{
	z-index: 10;
	width: 110px;
	padding-bottom: 22px;
	margin-top: 6px;
}

#u82:hover,#u83:hover
{
	width: 110px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u91-4
{
	z-index: 39;
	width: 114px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#u79
{
	z-index: 6;
	width: 189px;
	padding-bottom: 140px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 1015px;
}

#u79:hover
{
	width: 189px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u90-4
{
	z-index: 35;
	width: 114px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 18px;
}

#u75-bw
{
	z-index: 2;
	min-height: 224px;
	margin-top: 375px;
}

#u102
{
	z-index: 48;
	margin-right: -10000px;
	margin-top: 430px;
	left: 804px;
}

#u104
{
	z-index: 49;
	margin-right: -10000px;
	margin-top: 550px;
	left: 796px;
}

#u106
{
	z-index: 50;
	margin-right: -10000px;
	margin-top: 436px;
	left: 932px;
}

#u135
{
	z-index: 51;
	width: 230px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -70px;
	left: -210px;
}

#u135_position_content
{
	padding-top: 48px;
	padding-bottom: 508px;
}

#u175
{
	z-index: 98;
	width: 230px;
}

#u173-4
{
	z-index: 99;
	margin-right: -10000px;
	margin-top: 14px;
	left: 84px;
}

#u169
{
	z-index: 93;
	width: 72px;
	height: 69px;
	margin-left: 149px;
	margin-top: 5px;
}

#u170-4
{
	z-index: 64;
	width: 124px;
	min-height: 17px;
	margin-left: 70px;
	margin-top: 5px;
}

#u143
{
	z-index: 54;
	width: 271px;
	padding-bottom: 12px;
	left: -42px;
	margin-top: 11px;
}

#u143:hover
{
	width: 271px;
	min-height: 0px;
	margin: 11px 0px 0px;
}

#u144-4
{
	z-index: 60;
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 156px;
}

#u251
{
	z-index: 52;
	width: 1066px;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: -38px;
	left: 23px;
	background: transparent url("../images/150325_dl_5599_1440041753807_l.jpg") no-repeat left top;
	background-size: cover;
}

#u258
{
	z-index: 53;
	width: 1066px;
	height: 102px;
	background-color: #FFFFFF;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: -3px;
}

#u157
{
	z-index: 55;
	width: 271px;
	padding-bottom: 12px;
	margin-right: -10000px;
	margin-top: 162px;
	left: -252px;
}

#u157:hover
{
	width: 271px;
	min-height: 0px;
	margin: 162px -10000px 0px 0px;
}

#u156-4
{
	z-index: 68;
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 156px;
}

#u159
{
	z-index: 56;
	width: 271px;
	padding-bottom: 12px;
	margin-right: -10000px;
	margin-top: 204px;
	left: -252px;
}

#u159:hover
{
	width: 271px;
	min-height: 0px;
	margin: 204px -10000px 0px 0px;
}

#u158-4
{
	z-index: 72;
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 156px;
}

#u161
{
	z-index: 57;
	width: 271px;
	padding-bottom: 12px;
	margin-right: -10000px;
	margin-top: 247px;
	left: -252px;
}

#u161:hover
{
	width: 271px;
	min-height: 0px;
	margin: 247px -10000px 0px 0px;
}

#u160-4
{
	z-index: 76;
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 156px;
}

#u163
{
	z-index: 58;
	width: 271px;
	padding-bottom: 12px;
	margin-right: -10000px;
	margin-top: 289px;
	left: -252px;
}

#u163:hover
{
	width: 271px;
	min-height: 0px;
	margin: 289px -10000px 0px 0px;
}

#u162-4
{
	z-index: 80;
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 156px;
}

#u164
{
	z-index: 59;
	width: 271px;
	padding-bottom: 12px;
	margin-right: -10000px;
	margin-top: 331px;
	left: -252px;
}

#u164:hover
{
	width: 271px;
	min-height: 0px;
	margin: 331px -10000px 0px 0px;
}

#u165-4
{
	z-index: 84;
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 156px;
}

#buttonu166
{
	z-index: 88;
	width: 40px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 92px;
	left: -29px;
}

#buttonu166:hover
{
	width: 40px;
	min-height: 0px;
	margin: 92px -10000px 0px 0px;
}

#buttonu166.ButtonSelected
{
	width: 40px;
	min-height: 0px;
	margin: 92px -10000px 0px 0px;
}

#u171-4
{
	z-index: 89;
	width: 29px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
}

#buttonu166:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	width: 29px;
	margin: 3px -10000px 0px 0px;
}

#buttonu166.ButtonSelected #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	width: 29px;
	margin: 3px -10000px 0px 0px;
}

#u172-4
{
	z-index: 94;
	width: 86px;
	min-height: 82px;
	margin-right: -10000px;
	margin-top: 21px;
	left: -156px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

