.version.index /* version checker */
{
	color: #0000FB;
	background-color: #0B41AE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 608px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 64px;
	margin-left: auto;
	margin-right: auto;
}

#u207
{
	z-index: 2;
	width: 1px;
	height: 326px;
	margin-right: -10000px;
	margin-top: 281px;
	left: 221px;
}

#u209
{
	z-index: 3;
	width: 1px;
	height: 326px;
	margin-right: -10000px;
	margin-top: -91px;
	left: 619px;
}

#u190
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 20px;
	left: 143px;
}

#u195-4
{
	z-index: 5;
	width: 261px;
	min-height: 147px;
	margin-right: -10000px;
	margin-top: 455px;
	left: 233px;
}

#u196
{
	z-index: 9;
	width: 205px;
	margin-right: -10000px;
	margin-top: 196px;
	left: 555px;
	padding: 11px 11px 26px 12px;
}

#u201
{
	z-index: 13;
	width: 114px;
	height: 101px;
	margin-left: 45px;
}

#u198
{
	z-index: 10;
	width: 205px;
	height: 30px;
	left: -1px;
	margin-top: 18px;
}

#u200
{
	z-index: 11;
	width: 205px;
	height: 30px;
	left: -1px;
	margin-top: 3px;
}

#u199
{
	z-index: 12;
	width: 72px;
	margin-left: 133px;
	margin-top: 5px;
}

#u199:hover
{
	width: 72px;
	min-height: 0px;
	margin: 5px 0px 0px 133px;
}

#u199.MuseLinkActive
{
	width: 72px;
	min-height: 0px;
	margin: 5px 0px 0px 133px;
}

#u205-4
{
	z-index: 19;
	width: 51px;
	min-height: 20px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 22px;
}

#u202
{
	z-index: 14;
	width: 228px;
	padding-bottom: 12px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 555px;
}

#u206
{
	z-index: 23;
	width: 54px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u204-4
{
	z-index: 15;
	margin-right: -10000px;
	margin-top: 31px;
	left: 91px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

